*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}

html, body {
    margin: 0;
    padding: 0;
	background:#addbd0;/*#e9eef1;*/
	height:100%;
}

.navbar{
	background:#fff;
	line-height:50px;
}
	
.navbar a{
	display:block;
	text-align:center;
}	

.navbar a:hover{
	text-decoration:none;
}

.navbar a:focus{
	text-decoration:none;
}

.brand{
	font-family:"Times New Roman", Georgia, Serif;
	color:#212121;
	padding-top:3px;
	font-size:20px;
}

.brand span{
	font-family:"Times New Roman", Georgia, Serif;
	color:#212121;
	font-size:27px;
}

.container-fluid img{
	height:100%;
	display:block;
	margin: 0 auto;
}

.container-fluid .head{
	font-size:80px;
	margin-top:10%;
}

.container-fluid .main{
	color:#212121;
	font-size:25px;
	font-weight:bold;
}

.container-fluid .second{
	font-size:14px;
	font-weight:bold;
}
.container-fluid .third{
	font-size:14px;
	font-weight:bold;
}

.container-fluid ul{
	list-style-type:none;
	margin:0px;
	padding-left:10px;
}
	
.container-fluid ul li{
	margin:0px;
}

.container-fluid ul li a{
	color:#f05660;
}

@media screen and (max-width: 768px) {
	.container-fluid .head{
		margin-top:-10%;
	}
	.container-fluid img{
		height:90%;
		width:90%;
	}
	.container-fluid .main{
		width:98%;
	}
}

.credits{
	font-size:12px;
}