*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}

html, body {
    margin: 0;
    padding: 0;
	background:#f5f5f5;
}

/*BANNER*/

.admission-banner{
	margin-top:-20px;
	background-image: url("../images/baim-hanif-89800.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
    background-size: cover;
	background-position:0px -130px;
	text-align:center;
}

.admission-banner h2{
	font-weight:900;
	opacity:0.8;
	color: white;  /*#F4E76E*/
	padding:10px;
}

.admission-banner p{
	color:white;
	font-size:20px;
}

.breadcrumb{
	background:#ab5443;
	border-radius:0px;
	height:45px;
	font-size:18px;
}

.breadcrumb >.active {
  color: black;
}

.breadcrumb >.breadcrumb-item a {
   
    color: white;
}

.about{
	background:#E8E8E8;
	padding:30px;
	padding-top:15px;
}

.about img{
	width:85%;
	height:340px;
}

.about p{
	color:#212121;
	font-size:16px;
	line-height:25px;
}

.about ul li{
	color:#212121;
	font-size:16px;
	line-height:25px;
}

.about h1::before{
	content:"";
	position:absolute;
	width:60px;
	border:2px solid #ab5443;
	top:12%;
}	

.sidebar{
	background:#212121;
	padding:30px;
	margin:30px;
	margin-top:0px;
	color:#909090;
	border-top:6px solid #909090;
	overflow:hidden;
}

.sidebar img{
	display:block;
	margin-left:150px;
	width:100%;
	height:150px;
}

.sidebar a{
	color:#fff;
	text-align:center;
	display:block;
}

@media screen and (min-width: 768px) {
	.admission-banner{
	  height:270px;
	  padding-top:85px;
    }
}

@media screen and (max-width: 768px) {
	.about img{
		width:85%;
		height:auto;
	}
	
	.sidebar img{
		width:100%;
		height:auto;
	}
}






