*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}

html, body {
    margin: 0;
    padding: 0;
	background:#f5f5f5;
}

.navbar{
	margin-bottom:0px;
	background-color:#002147;
	border-radius:0px;
}


.actv{
	border-top:1px solid #DEF2F3;
	border-bottom:1px solid #DEF2F3;
}



.brand-div{
	line-height:38px;
	padding-top:20px;
	padding-left:68px;
}

.brand{
	font-family:"Times New Roman", Georgia, Serif;
	color:white;
	font-size:23px;
	padding-top:3px;
}

.navbar-brand{
	
	font-family: "Times New Roman", Georgia, Serif;
	
}

.navbar-brand img{
	display:inline-block;
	max-height: 20px;
	max-width: 20px;
	margin-right: 10px;
}

.brand span{
	font-family:"Times New Roman", Georgia, Serif;
	color:white;
	font-size:30px;
	
}

.tag{
	color:#DEF2F3;
	font-size:25px;
	font-family: "Brush Script Std", Brush Script MT, cursive;
}


.brand-div td{
	padding-left:15px;
}


.logo{
	height:78px;
	width:78px;
	border-radius:10px;
	font-weight:300i;
	float:left;
}


/*BANNER*/

.admission-banner{
	
	background-image: url("../images/baim-hanif-89800.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
    background-size: cover;
	text-align:center;
}

.admission-banner h2{
	font-weight:900;
	
	opacity:0.8;
	color: white;  /*#F4E76E*/
	padding:10px;
}

.admission-banner p{
	color:white;
	font-size:20px;
	
}

.breadcrumb{
	background:#ab5443;
	border-radius:0px;
	height:45px;
	font-size:18px;
}

.breadcrumb >.active {
  color: black;
}

.breadcrumb >.breadcrumb-item a {
   
    color: white;
}

/* Main COntent */

.content{
	margin-top:50px;
	
}

.navigation ul{
	list-style-type:none;
	font-size:22px;
	border-right: 1px solid #e5e5e5;
}

.navigation ul li a{
	color:#293352;
	transition:color 0.2s ease-in-out;
	display:block;
	width:100%;
	padding:0px 10px;
}


.navigation ul li a:hover{
	border-right:2px solid #ab5443;
	color:#ab5443;
	text-decoration:none;
}
.select{
	border-right:2px solid #ab5443;
}

.navigation ul li{
	
	padding: 10px 0px;
}


.title{
	font-weight:500;
	font-size:45px;
	color:#2d2e2e;
	position: relative;
	z-index : 1;
	padding-bottom:20px;
}

.title:before{
	content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 12%; 
  border-bottom:3px solid #01a2a6;
}


.text{
	margin-top:30px;
}

.text p{
	font-size:16px;
	color:#686868;
}

.text ul li{
	font-size:16px;
	color:#686868;
	list
}

/* Footer */

footer{
	background: #002147;
	color: #eee;
	padding:20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin-top:30px;
}

.fa{
	padding:5px;
	font-size: 45px;
}

footer ul{
	list-style-type: none;
	padding: 0px;
}



/*MEDIA QUERIES*/

@media screen and (min-width: 768px) {
	.brand-sm{
		display:none;
	}
	.menu{
		margin-top:35px;
		padding-left:50px;
	}
	
	.nav.navbar-nav li a {
		color: #DEF2F3;
		font-size: 15px;
		
	}

	.nav.navbar-nav li ul li a{
		color:#3277ae;
		font-size:14px;
		padding: 10px 20px;
		margin-left:5px;
		margin-right:10px;
	}


	.nav.navbar-nav li ul li{
		border-bottom:1px solid #D3D3D3;
	}

	.nav.navbar-nav li ul li:last-child {
	  border-bottom: none;
	}

	.nav.navbar-nav li ul li:hover{
		color:white;
		background:#3277ae;
	}

	.nav.navbar-nav li ul li a:hover{
		color:white;
		background:#3277ae;
	}

	.admission-banner{
	  height:330px;
	  padding-top:85px;
  }
	
	
	.navigation ul{
		
		height:300px;
	}
	
	.breadcrumb{
		padding-left:130px;
	}
}



@media screen and (max-width: 768px) {
  
  	.brand-div{
		display:none;
	}

}

  
  @media screen and (min-width: 1200px) {
	.navbar{
		height:120px;
	}
}
  
  
  