*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}

body{
	height:100vh;
}

.bg{
	background:#006BCD;
	height:100vh;
}

.cs{
	color:#FDD734;
	font-family:"Times New Roman", Georgia, Serif;
	margin-top:22%;
	margin-left:10%;
}

.brand{
	font-family:"Times New Roman", Georgia, Serif;
	font-size:30px;
}

.brand span{
	font-family:"Times New Roman", Georgia, Serif;
	font-size:42px;
}

.it{
	font-size:25px;
	color:#fff;
	margin-top:5%;
	margin-left:10%;
}

.para{
	max-width:600px;
	margin-left:10%;
	color:#BBDEFB;
	font-size:25px;
	animation: fade 5s infinite;
	overflow:hidden;
	white-space: nowrap;
	font-family: "Brush Script Std", Brush Script MT, cursive;
}

@keyframes fade {
    from {width: 0;}    
       
    to {width: 22ch;}  
		
}

.slant{
	border-left: 250px solid #006BCD;
	border-bottom: 100vh solid transparent;
	background: url("../images/cs.jpeg");
	background-position:-360px -80px;
	background-size:300%;
	background-repeat:no-repeat;
}

.icons{
	margin-left:9%;
	margin-top:3%;
}

.bg a span{
	color:white;
	transition:0.3s all ease;
}

.bg a span:hover{
	transform:scale(1.4);
}

.follow{
	background-color:#fff;
	padding:10px 30px;
	margin-top:6%;
	margin-left:11%;
	max-width:130px;
	transition:0.3s all ease;
}

.follow:hover{
	background:#FDD734;
}