*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
  border-radius: 0px;
  background: #002147;
	margin-bottom: 0;
}

.nav.navbar-nav li{
	margin-right:20px;
	
}

.nav.navbar-nav li a {
    color: #DEF2F3;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.nav.navbar-nav li a:hover {
    background: black;
}

 

.nav.navbar-nav li ul{
	padding: 0px;
	margin: 0px;
	
}
.nav.navbar-nav li ul li{
	
	width:100%;
	margin: 0px;
	
	
}

.bg{
	background-color: black;
}

.nav.navbar-nav li ul li a{
		background:#414141;
		border-bottom:1px solid black;
		
	}


.my-content{
	text-align: center;
}

.navbar-inverse .navbar-brand {
    color: #DEF2F3;
    font-size: 18px;
}


.brand-sm{
	font-family: "Times New Roman", Georgia, Serif;
}


.navbar-brand img{
	display:inline-block;
	max-height: 20px;
	max-width: 20px;
	margin-right: 10px;
}

/*STYLES FOR UPPER LOGO SECTION*/

.logo-header{
	padding:20px 10px 10px 10px;
	text-align: center;
    
}


.logo{
	display: inline-block;
}

.logo-img{
	max-height: 70px;
	max-width: 70px;
	margin-right: 20px;
	margin-left: 20px;
}

.logo-text{
	color:#DEF2F3;
	font-size: 20px;
	font-family: times new roman;
	border-top:1px solid #DEF2F3;
	border-bottom:1px solid #DEF2F3;
	padding: 5px 10px;
	
}

.logo-hindi{
	width:310px;
}

.contact-banner{
	
	background-image: url("../images/untitled.png");
	background-size: 100%;
	text-align:center;
	background-attachment:fixed;
}

.contact-banner h2{
	font-weight:900;
	
	opacity:0.8;
	color: white;  /*#F4E76E*/
	padding:10px;
}

.contact-banner p{
	color:white;
	font-size:20px;
	
}

.breadcrumb{
	background:#ab5443;
	border-radius:0px;
	height:45px;
	font-size:18px;
}

.breadcrumb >.active {
  color: black;
}

.breadcrumb >.breadcrumb-item a {
   
    color: white;
}

.branch-heading{
	color:white;
	font-size:50px;
	padding:5px 10px;
	
	margin:0px;
	margin-top:40px;
}


.branch-body{
	padding:20px;
	
	
}

.bb1{
	border:2px solid #002147;
}

.bb2{
	border:2px solid #293352;
}
.bb3{
	border:2px solid #48727F;
}

.bb4{
	border:2px solid #0099a9;
}

.bb5, .bb6{
	border:2px solid #40C4FF;
}



.addrs p{
	font-size:18px;
	line-height:30px;
	color:	#484848;
}

.a1 span{
	color:#002147;
}

.a2 span{
	color:#293352;
}
.a3 span{
	color:#48727F;
}
.a4 span{
	color:#0099a9;
}
.a5 span, .a6 span{
	color:#40C4FF;
}



.question{
	border:none;
	outline:none;
	background:none;
	font-size:18px;
	padding: 5px 10px;
	color:white;
}

.question:hover{
	background-color:#002147;
}

.h1, .q1{
	
	background:#002147;
}

.h2, .q2{
	background:#293352;
}

.h3, .q3{
	background:#48727F;
}

.h4, .q4{
	background:#0099a9;
}
.h5, .q5, .h6, .q6{
	background-color:#40C4FF;
}



#map{
        height: 100%;
		padding:0;
		margin:0;
		border: 2px solid #002147;
}

#map1{
        height: 100%;
		padding:0;
		margin:0;
		border: 2px solid #293352;
}

#map2{
	height: 100%;
	padding:0;
	margin:0;
	border: 2px solid #48727F;
}

#map3{
        height: 100%;
		padding:0;
		margin:0;
		border: 2px solid #0099a9;
}


/*CONTACT MODAL*/

.modal-content{
	
	border-radius:0px;
}

.contactus{
	
	
	margin-left: auto;
	margin-right: auto;
	float: none;
	padding: 10px 20px;

}

.send-query{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 40px;
	color:#48727F;
	margin:0px;
	text-align: center;
}

.bottomliner{
	color:	#585858;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin:0px;
}

.contactus form{
	padding:20px;
}

.contactus input{
	height:50px;
	border-radius: 0px;
	outline none;
	border:1px solid #48727F;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color:black;
	
}

.contactus input:focus,input:active, {
	outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
}

.contactus textarea{
	height:200px;
	border-radius: 0px;
	outline none;
	border:1px solid #48727F;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color:black;
	
	resize: none;
}

.contactus button{
	background-color: #48727F;
	color:white;
	outline:none;
	border-radius: 0px;
	height:50px;
	width:100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.contactus button:hover{
	background-color: #002147;
	color:white;
}


/* Footer */

footer{
	background: #002147;
	color: #eee;
	padding:20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin-top:30px;
}

.fa{
	padding:5px;
	font-size: 45px;
}

footer ul{
	list-style-type: none;
	padding: 0px;
}


/*MEDIA QUERIES*/

@media screen and (min-width: 768px) {
  .brand-sm{
  	display:none;
  }

  .navbar-nav{
  	float:none;
  	text-align: center;
  }
  .navbar-nav li{
  	float: none;
  	display: inline-block;
  }
  .contact-banner{
	  height:330px;
	  padding-top:85px;
  }
  .contact-banner h2{
		
		margin-left:auto;
		margin-right:auto;
	}
	.breadcrumb{
		padding-left:110px;
	}
	
	.addrs{
		padding-left:5%;
	}
	
	.question{
		margin-top:15%;
	}
	#map-wrapper{
		height:400px;
		width:65%;
	}
	#map-wrapper1{
		height:400px;
		width:65%;
	}
	
	#map-wrapper3{
		height:400px;
		width:65%;
	}
}



  @media screen and (max-width: 768px) {
  
  	.nav.navbar-nav li{
		margin-right: 0px;
  	}
  	.logo-header{
  		display:none;
  	}
	#map-wrapper{
		height:300px;
		width:100%;
	}
	
	.mp{
		display:none;
	}
	
  }
  
  
  
  
  
  
  /*
  
  <div class="col-sm-4 brand-div">
						
					</div>
  
  
  */
