*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}
html{
	background:	#212121;
    margin: 0;
    padding: 0;
}


 body {
	background:	#424242;
    margin: 0;
    padding: 0;
}




.events-banner{
	background-image: url("../images/events.jpg");
	background-size: 100%;
	text-align:center;
	background-attachment:fixed;
	margin-top:-20px;
	position: relative;
}

.events-banner h2{
	font-weight:900;
	opacity:0.8;
	color: white;  /*#F4E76E*/
	padding:10px;
}

.events-banner p{
	color:white;
	font-size:20px;
	
}

.breadcrumb{
	background:#ab5443;
	border-radius:0px;
	height:45px;
	font-size:18px;
}

.breadcrumb >.active {
  color: black;
}

.breadcrumb >.breadcrumb-item a {
    color: white;
}

.monthly{
	background: black !important;
	margin-bottom:30px;
}
.banner{
	font-weight:300;
	font-size:30px;
	opacity:0.9;
	color:white;
}

.helper{
	color:teal;
	font-size: 20px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

@media screen and (min-width: 768px) {
  
  .events-banner{
	  height:330px;
	  padding-top:85px;
  }
  .events-banner h2{
		margin-left:auto;
		margin-right:auto;
	}
	.breadcrumb{
		padding-left:110px;
	}
	
}


/*NEW STYLES*/

.event-contain{
	background:#212121;
	padding: 30px 40px;
}
	
.event-contain h3{
	margin-top:0;
	color:#909090;
}
.event-wrap .ehead{
	display:inline;
	color:#e8e8e8;
	font-size:18px;
	font-weight:bold;
}

.event-wrap small{
	color:#5fc3b7;
}

.event-wrap .desc{
	padding-top:10px;
	color:#909090;
	padding-bottom:15px;
}

.pagination{
	margin:0;
	margin-bottom:-12px;
}

.pagination > li > a{
    background:#424242 !Important;  
	border:none;	
	border-radius:0px!important;
	color:#e8e8e8;
}

.pagination > li > a:hover{
	background:#909090 !Important;
	color:#212121;
}

.sidebar{
	background:#5fc3b7;
	color:#fff;
	padding:30px 40px;
	min-height:400px;
}


.sidebar h4{
	color:#fff;
}










