footer{
	background: #002147;
	color: #eee;
	padding:20px 4%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	width: 100%;
	margin-top:30px;
    left: 0;
  bottom: 0;
  z-index: -1;
}

.brand{
	font-family:"Times New Roman", Georgia, Serif;
	color:white;
	font-size:23px;
	padding-top:14px;
	opacity:0.9;
}
.brand span{
	font-family:"Times New Roman", Georgia, Serif;
	color:white;
	font-size:30px;	
	opacity:0.9;
}

.tag{
	color:#DEF2F3;
	font-size:25px;
	font-family: "Brush Script Std", Brush Script MT, cursive;
	margin-top:-13px;
}

footer ul{
	list-style-type: none;
	padding: 0px;
	margin-top:14%;
}

footer ul li{
	margin:1px 20px;
}

footer ul li a{
	font-weight:300;
	color:#fff;
	font-size:13px;
}

footer ul li a:hover{
	color:#e8e8e8;
}
footer .about{
	margin-top:13%;
}


@media screen and (max-width: 900px) {
	
	.links .a-contain{
		margin-top:10%!important;
		margin-bottom:1%!important;
	}
	.links .a-contain p{
		margin-top:8%!important;
		
	}

}

footer .links{
	border-top:1px solid #fff;
	margin-top:2%;
}

.links .a-contain{
	margin-top:3.5%;
	text-align:center;
	margin-bottom:0.5%;
}

.links .a-contain p{
	margin-top:2.5%;
	font-weight:300;
	font-size:14px;
	opcity:0.9;
}

.links a{
	
	color:#fff;
	border: 1px solid #fff;
	padding: 15px;
	border-radius:30px;
	transition: 0.3s all ease;
}

.links a:hover{
	background:#fff;
	color:#212121;
}

.links a span{
	font-size:16px;
	font-weight:300;
}

