*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}
html, body {
    margin: 0;
    padding: 0;
	background:#f5f5f5;
	overflow-x:hidden;
}

#banner .clear-fix span{
	color:white;
	font-family: 'Sacramento', cursive;
	font-size:50px;
	padding-right:20px;
	padding-top:5px;
}


.jumbotron{
	background-image: url("../images/gallery1.jpg");
	background-size: cover;
	background-attachment: fixed;
	color:white;
	vertical-align:middle;
	padding-top:10%;
}

.jumbotron .about{
	font-size:16px;
}

.btn-group{
	margin-top:5%;
}

.btn-group .btn{
	background:none;
	border:1px solid white;
	border-radius: 20px!important;
	transition: 0.3s all ease;
	margin: 2px 0px!important;
	margin-left: 5px!important;
}

.btn-group .active{
	background:#51d2e8;
	color:white;
	border:1px solid #51d2e8;
}

.btn-group .btn:hover{
	background:#51d2e8;
	color:white;
	border:1px solid #51d2e8;
}

.brand, .brand span{
	font-family:"Times New Roman", Georgia, Serif;
}
.brand{
	font-size:30px!important;
}

.brand span{
	font-size:50px!important;
}

#sidebar{
	background:#424242;
	width:200px;
	height:100%;
	display:block;
	position:absolute;
	left:-200px;
	top:0px;
	transition:left 0.3s linear;
	z-index:999;
}

#sidebar h1{
	color:#51d2e8;
	text-align:center;
}

#sidebar.visible{
	left:0px;
	transition:left 0.3s linear;
}

#sidebar ul{
	margin:0px;
	padding:0px;
}

#sidebar ul li{
	list-style:none;
	font-size:12px;
}

#sidebar ul li:hover{
}

#sidebar ul li a{
	color:#ccc;
	display:block;
	padding:10px;
	text-decoration: none;
}

#sidebar ul li a:hover{
	color:#ccc !important;
	text-decoration: none!important;
	background: #212121;
}

#sidebar ul li a:focus{
	color:#ccc !important;
	text-decoration: none!important;
}

#sidebar ul li ul li{
	padding-left: 20px;
	border-left: 5px solid #51d2e8;
	background:#303030;
}

#sidebar ul li ul li a:hover{
	color:white!important;
	background:#303030;
}

#sidebar-btn{
	display:inline-block;
	vertical-align: middle;
	width:20px;
	height:15px;
	cursor:pointer;
	margin:20px;
	position:absolute;
	top:0px;
	right:-60px;
}

#sidebar-btn span{
	height:1px;
	background:#fff;
	margin-bottom:5px;
	display:block;
}

#sidebar-btn p{
	float:left;
	position:relative;
	left:115%;
	bottom: 24%;
	display:inline;
	color:#51d2e8;
	font-weight: 300;
	opacity: 0.8;
}

#sidebar-btn span:nth-child(2){
	width:75%;
}

#sidebar-btn span:nth-child(3){
	width:50%;
}
.active{
	background:#212121;
}

.container{
	margin-top:-60px;
}

.wrapper img{
	border: 5px solid #909090;
}

@media screen and (min-width: 1200px) {
	.jumbotron .about{
		width:50%;
		margin-left:auto;
		margin-right:auto;
	}
	.jumbotron{
		height:500px;
	}
	
	#banner .clear-fix span{	
		font-size:50px;
		padding-right:20px;
		padding-top:5px;
	}
	.jumbotron .browse{
		margin-top:6%;
	}
	.wrapper img{
		margin-bottom:5%;
	}
}


@keyframes grow {
	0%, 100% { 
	    transform: scale(1);
	}
	50% { transform: scale(2);}
}	


@media screen and (max-width: 900px) {
	#banner .clear-fix span{	
		font-size:30px;
		padding-right:20px;
		padding-top:5px;
	}
	.col-sm-6 {
        margin-top:20px;
    }
}

@media screen and (max-width: 700px) {
	#banner .clear-fix span{	
		font-size:25px;
		padding-right:20px;
		padding-top:5px;
	}
}	

@media screen and (max-width: 650px) {
	#banner .clear-fix span{	
		font-size:22px;
		padding-right:20px;
		padding-top:5px;
	}
}