*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}


.navbar{
	
	background-color:#002147;
	border-radius:0px;
}

.navbar-collapse{
	
}

.actv{
	border-top:1px solid #DEF2F3;
	border-bottom:1px solid #DEF2F3;
}



.brand-div{
	line-height:38px;
	padding-top:20px;
	padding-left:68px;
}

.brand{
	font-family:"Times New Roman", Georgia, Serif;
	color:white;
	font-size:23px;
	padding-top:3px;
}



.brand span{
	font-family:"Times New Roman", Georgia, Serif;
	color:white;
	font-size:30px;
	
}

.tag{
	color:#DEF2F3;
	font-size:25px;
	font-family: "Brush Script Std", Brush Script MT, cursive;
}


.brand-div td{
	padding-left:15px;
}


.logo{
	height:78px;
	width:78px;
	border-radius:10px;
	font-weight:300i;
	float:left;
}



@media screen and (min-width: 768px) {
	.navbar{
		height:120px;
	}
	.menu{
		margin-top:35px;
		padding-left:50px;
	}
	.enroll-btn{
		margin-top:26%;
	}
	  .img-modal{
		 width:800px;
	}


	.nav.navbar-nav li a {
		color: #DEF2F3;
		font-size: 15px;
		
	}

	.nav.navbar-nav li ul li a{
		color:#3277ae;
		font-size:14px;
		padding: 10px 20px;
		margin-left:5px;
		margin-right:10px;
	}


	.nav.navbar-nav li ul li{
		border-bottom:1px solid #D3D3D3;
	}

	.nav.navbar-nav li ul li:last-child {
	  border-bottom: none;
	}

	.nav.navbar-nav li ul li:hover{
		color:white;
		background:#3277ae;
	}

	.nav.navbar-nav li ul li a:hover{
		color:white;
		background:#3277ae;
	}
	
	

}



  @media screen and (max-width: 768px) {
  
  	.brand-div{
		display:none;
	}

  	.contactus{
  		width:90%;
  	}
  	.enroll-btn{
  		margin-top:0%;
  	}
	
	
  }

.navbar-brand img{
	display:inline-block;
	max-height: 20px;
	max-width: 20px;
	margin-right: 10px;
}

.slide-show{
	padding: 0px;
	margin:0px;
    margin-top: -20px;
}



/*STYLES FOR UPPER LOGO SECTION*/

.logo-header{
	padding:20px 10px 10px 10px;
	text-align: center;
    
}


.logo{
	display: inline-block;
}

.logo-img{
	max-height: 70px;
	max-width: 70px;
	margin-right: 20px;
	margin-left: 20px;
}

.logo-text{
	color:#DEF2F3;
	font-size: 20px;
	font-family: times new roman;
	border-top:1px solid #DEF2F3;
	border-bottom:1px solid #DEF2F3;
	padding: 5px 10px;
	
}

.logo-hindi{
	width:310px;
}


/*STYLES FOR NOTICEBOARDS STARTS HERE  %*/



.notice1, .notice2{
	
	
	margin-top:20px;
	
}


.notice-head{
	background: #002147;
	color:white;
	padding:10px;
	font-size: 18px;
	text-align: center;
}

.notice-body{
	min-height:300px;
	border:1px solid black;
	border-top:none;
	padding:30px;
}


.notice-content{
	border-bottom: 1px dotted black;
	padding:10px 0px 10px 0px;

}


/*styles for enroll section*/

.enroll{
	padding-top:50px;
	padding-bottom: 50px;
	
}

.slogan{
	color:#48727F;
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

.mission{
	padding:10px;
	vertical-align: center;
	font-size: 18px;
	line-height: 30px;
	color:	#585858;
}

.enroll-btn{
	width:98%;
	height: 50px;
	color: white;
	outline: none;
	background: #48727F;
	font-size: 22px;
	border:none;
	border-radius: 30px;
	background: #48727F;
}

.enroll-btn:hover{
	background: #002147;
	color:#fff;
}





/*STYLES FOR ENQUIRY FORM*/



/*FOOTER STYLES BEGINS HERE% */

footer{
	background: #002147;
	color: #eee;
	padding:20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
}

.fa{
	padding:5px;
	font-size: 45px;
}

footer ul{
	list-style-type: none;
	padding: 0px;
}


/*STYLES FOR CONTACT FORM*/

.contact-form{
	background-image: url("../images/contactform-light.jpg");
	background-size: 100%;
	
    background-attachment: fixed;
}

.contactus{
	background-color: #E8E8E8;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	padding:20px;

}

.send-query{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 40px;
	color:#48727F;
	margin:0px;
	text-align: center;
}

.bottomliner{
	color:	#585858;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin:0px;
}

.contactus form{
	padding:20px;
}

.contactus input{
	height:50px;
	border-radius: 0px;
	outline none;
	border:1px solid #48727F;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color:black;
	background-color: #E8E8E8;
}

.contactus input:focus,input:active, {
	outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
}

.contactus textarea{
	height:200px;
	border-radius: 0px;
	outline none;
	border:1px solid #48727F;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color:black;
	background-color: #E8E8E8;
	resize: none;
}

.contactus button{
	background-color: #48727F;
	color:white;
	outline:none;
	border-radius: 0px;
	height:50px;
	width:100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.contactus button:hover{
	background-color: #002147;
	color:white;
}

/*STYLES FOR GALLERY */

.gallery{
	background-color: #293352;
	margin-top: 20px;
	padding-bottom: 25px;
	padding-top: 15px;
	text-align: center;
}

.go-to-gallery{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 25px;
	padding:0px;
	color:white;
	
}


.go-to-gallery:hover{
	color:black;
}

.courses{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 40px;
	color:white;
	text-align: center;
}




.img-gallery {
  font-size: 0;
}

.img-gallery a {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

.img-gallery a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .img-gallery a {
    width: calc(25% - 6px);
  }
  
  .img-gallery a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  .img-gallery a:nth-of-type(4n) {
    margin-right: 0;
  }
}

.img-gallery a:hover img {
  transform: scale(1.15);
}

.img-gallery figure {
  margin: 0;
}

.img-gallery img {
  border: none;
  max-width: 100%;
  height: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

/*STYLES FOR SCROUSEL MODAL */

.img-modal{
	 vertical-align: middle;
}
