*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0px;
	padding:0px;
}

.navbar{
	border-radius:0px;
	border-bottom:5px solid #343436;
	background:#212121;
	margin-bottom:0px;
}
.brand{
	font-family:"Times New Roman", Georgia, Serif;
	color:white;
	padding-top:3px;
	font-size:20px;
}

.brand span{
	font-family:"Times New Roman", Georgia, Serif;
	color:white;
	font-size:27px;
}

.text{
	text-align:center;
	font-size:18px;
	margin-top:2%;
	color:#00796B;
	font-weight:500;
}

.signin{
	background-color: #F7F7F7;
	margin-top: 5px;
	margin-bottom: 4%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	padding:20px;
	border-radius:2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding-bottom:40px;
}

.dp{
	height:120px;
	width:120px;
	border-radius:58px;
	display:block;
	margin:20px auto 0px auto; 
}

.form input[type=email], input[type=password]{
	height:45px;
	width:88%;
	margin:0px auto 0px auto; 	
	font-size: 16px;
	color:black;
}


.form input[type=email]{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	margin-top:50px;
}	

.form input[type=password]{
	margin-bottom: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.submit{
	height:45px;
	width:88%;
	display:block;
	margin:0px auto 10px auto; 
	font-size: 16px;
	border-radius:7px;
	background:#3276B1;
	color:white;
	outline:none;
	border:none;
	border:1px solid #CCCCCC;
}

.checkbox{
	margin-left:42px;
}

.need-help
{
    margin-top: 9px;
	margin-right:20px;
	border:none;
	background:none;
	color:
}

.need-help:focus{
	border:none!important;
	outline:none;
}

.need-help:hover{
	text-decoration:underline;
}

.error{
	color:#D32F2F;
	font-size:16px;
}

.pwdr{
	text-align:center;
	color:teal;
}

#success-modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalconent {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 0px 20px 20px 20px;
}

@media screen and (max-width: 768px) {
	
	.signin{
  		width:90%;
  	}
	
	.brand{
		font-size:16px;
	}

	.brand span{
		font-size:24px;
	}
}

@media screen and (max-width: 380px) {
	.brand{
		font-size:12px;
	}

	.brand span{
		font-size:19px;
	}		
}	
@media screen and (min-width: 768px){
	.row{
		margin:10px 50px 50px 50px;
	}
}
