*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

html{
	background:	#E8E8E8;
    margin: 0;
    padding: 0;
}


 body {
	background:	#E8E8E8;
    margin: 0;
    padding: 0;
}


.notices-banner{
	background-image: url("../images/events.jpg");
	background-size: 100%;
	text-align:center;
	background-attachment:fixed;
	margin-top:-20px;
	position: relative;
}

.notices-banner h2{
	font-weight:900;
	opacity:0.8;
	color: white;  /*#F4E76E*/
	padding:10px;
}

.notices-banner p{
	color:white;
	font-size:20px;
	
}

.breadcrumb{
	background:#ab5443;
	border-radius:0px;
	height:45px;
	font-size:18px;
}

.breadcrumb >.active {
  color: black;
}

.breadcrumb >.breadcrumb-item a {
    color: white;
}

.content{
	background:#f3f3f4;
	padding:10px 40px 30px 40px;
	border-top:5px solid #DCDCDC;
	color:#585858;
}

.content h3{
	margin-bottom:30px;
	color:teal;
}

.notice_data{
	background:#E0E0E0;
	padding:10px 20px;
	border-radius: 50px;
}

.notice_data span{
	color: #795548;
	font-weight:bold;
}

.notice_data a{
	color: #606060;
	text-decoration:none;
}

.notice_data a:hover{
	color: #1e5085;
	text-decoration:none;
	
}

.pagination li a{
	color: #1ab394;
}

.selected{
	background:#d7ccc8!important;
}


.sidebar{
	background:#795548;
	padding:20px;
	color:#fff;
	border-top:5px solid #3E2723;
}



@media screen and (min-width: 768px) {  
  .notices-banner{
	  height:260px;
	  padding-top:85px;
  }
  .notices-banner h2{
		margin-left:auto;
		margin-right:auto;
	}
	.breadcrumb{
		padding-left:90px;
	}	
}

