body{
	overflow-x:hidden!important;
}

.content{
	min-height:100vh;
	
	/*padding-bottom: 70px;
    background-image: url(../images/border.png);
    background-repeat: no-repeat;
    background-position: center bottom;
	background-size: 100% 10%;*/
}
.content h4{
	margin:0px;
	color:teal;
	display:inline-block;
}

.content .pending{
	background:#1ab394;
	color:White;
}

@media screen and (min-width: 1024px) {
	
	#Modalreq .modal-content{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	#Modalcen .modal-content{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
}


#Modalreq .modal-header{
	background:#ff694c;
	text-align:center;
}

#Modalreq h4, .modalrem h4{
	color:#fff;
	
}

#Modalreq .modal-body .request{
	background:#ff694c;
	border-radius:30px;
	border:none;
}

#Modalreq .modal-body .request:hover{
	background:#ee4c6c;
}

#Modalreq .modal-body .request:focus{
	outline:none;
}

#Modalreq .modal-body .no{
	border-radius:30px;
	border:none;
}

#Modalreq .modal-body .no:focus{
	outline:none;
}

.modalrem .modal-header{
	background:#E53935;
	text-align:center;
}


/*CHANGE PAGE*/

#Modalcen .modal-header{
	background:#ff694c;
	text-align:center;
}

#Modalcen h4, .modalrem h4{
	color:#fff;
	
}

#Modalcen .modal-body .request{
	background:#ff694c;
	border:none;
}

#Modalcen .modal-body .request:hover{
	background:#ee4c6c;
}

#Modalcen .modal-body .request:focus{
	outline:none;
}

#Modalcen .modal-body .no{
	border:none;
}

#Modalcen .modal-body .no:focus{
	outline:none;
}

.modalrem .modal-header{
	background:#E53935;
	text-align:center;
}












