.containers{
	margin: 0 20px;
	padding:0px;
}

.cover_wrap{
	margin-top: 20px;
    box-shadow: 0px 3px 5px #989898;
}

.cover{
	background: url("../images/bgg.jpg");
	min-height:250px;
}


.data .img{
	height:130px;
	width:130px;
	border-radius: 50%;
	margin-top:-25%;
	box-shadow: 0px 6px 15px #989898;
} 

.data .res{
	font-size: 25px;
	font-weight: 300;
	margin-top: 10px;
}

.data .query{
	font-size: 15px;
	font-weight: 400;
	color:#909090;
}

.row2{
	margin-top: 10px;
}

.row2 .courses{
	background-color: #03a9f4;
	padding:20px;
	color:#fff;
	box-shadow: 0px 3px 5px #989898;
}

.row2 .courses .chead{
	font-size: 25px;
	font-weight: 300;
}

.row2 .courses ul{
	margin-left: 20px;
}

.courses ul li .cname, .reg, .cen{
	font-size: 16px;
	font-weight: 400;
}

.row2 .main{
	min-height:200px;
	background-color: #fff;
	box-shadow: 0px 3px 5px #989898;
}


@media screen and (max-width: 700px) {
	.main{
		margin-top: 10px;
	}
}