*{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}

.bg{
	height:35vh;
	background:#009688;
}

.form_wrapper{
	background:#fff;
	border-top:7px solid #a7ffeb; 
	margin: 0 auto;
	margin-top:-100px;
	padding:30px;
}

.form_wrapper_admit{
	background:#fff;
	border-top:7px solid #bcaaa4 ; 
	margin: 0 auto;
	margin-top:-100px;
	padding:30px;
}

.link{
	display:block;
	color:#fff;
	text-align:center;
}

.link:hover{
	text-decoration:underline;
}

.brand{
	text-align:center;
	font-family:"Times New Roman", Georgia, Serif;
	color:white;
	font-size:23px;
	padding-top:3px;
}

.brand span{
	font-family:"Times New Roman", Georgia, Serif;
	color:white;
	font-size:35px;	
}

.brand a{
	color:white;
}

.error{
	display:none;
	padding:0px;
	margin:0px;
}

.error_active{
	color:#f44336;
}


#success-modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
	
}
.modalconent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 0px 20px 20px 20px;
	max-width:550px;
	border-radius:5px;
}

.modalcontent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
	max-width:500px;
	border-radius:5px;
}

#success-modal .head{
	height:80px;
	position:relative;
}

#success-modal .button{
	width:100%;
	border:2px solid #3fc59d;
	color:#fff;
	background:#3fc59d;
	height:40px;
	font-size:18px;
}

#success-modal .head span{
	position:absolute;
	border:2px solid #3fc59d;
	font-size:35px;
	padding:25px 25px;
	border-radius:50px;
	background:#3fc59d;
	color:#fff;
	top:-55%;
	left:42%;
	margin:0 auto;
}

#success-modal .hello{
	text-align:center;
	font-size:25px;
	font-weight:bold;
}

#success-modal a{
	display:block;
	text-align:center;
	color:teal;
}

.modalcontent span{
	display:block;
	text-align:center;
	font-size:30px;
	padding-top:30px;
	color:#f65656;
}

.modalcontent .snap{
	font-size:30px;
	font-weight:300;
	color:#212121;
	text-align:center;
	padding:0px;
}

.modalcontent .msg{
	font-size:20px;
	font-weight:300;
	color:#616161;
	text-align:center;
	padding:0px 50px;
}

.modalcontent .close{
	width:100%;
	height:50px;
}


@media screen and (max-width: 600px) {
	.form_wrapper{
		width:100%;
	}
	.brand{
		font-size:15px;
	}

	.brand span{
		font-size:25px;	
	}
}

@media screen and (min-width: 600px) {
	.form_wrapper{
		width:90%;
	}
}	

@media screen and (min-width: 992px) {
	.form_wrapper{
		width:90%;
	}
}	

