.btn-primary{
	background: #1ab394;
	border:1px solid #1ab394;
}

.btn-primary:hover{
	background: #1cc394;
	border:1px solid #1cc394;
}

.btn-primary:focus{
	background: #1cc394;
	border:1px solid #1cc394;
}

.new{
	background: #1ab394;
	border:1px solid #1ab394;
	color:white;
}

.new:hover{
	background: #1cc394;
	border:1px solid #1cc394;
	color:white;
}

.label-success{
	background: #1ab394;
}

.label-lg{
	padding:10px 16px;
	font-size:18px;
	line-height: 1.33;
	border-radius: 6px;
}

.label-sm{
	padding:5px 10px;
	font-size:12px;
	line-height: 1.5;
	border-radius: 3px;
}

.label-xs{
	padding:1px 5px;
	font-size:12px;
	line-height: 1.5;
	border-radius: 3px;
}

.pagination a{
	color: #1ab394!important;
}

.inner-content{
	padding: 20px;
}

.btn-default{
	color:#676a6c;
	border: 1px solid #eee;
}

.btn-default:hover{
	background-color:#f3f3f4;
	color:#676a6c;
	border: 1px solid #eee;
}

.notice-row p{
	font-size:16px;
	margin-bottom: 0;
	font-weight:400;
}

.status-padding{
	padding-top:10px;
}

.notice-row .heading{
	font-size:17px;
	font-weight:bold;
	padding-bottom: 5px;
}

.notice-title small{
	color: #bbb;
}

.notice-title a{
	margin-left: 10px;
}

@media(max-width: 991px) {
	.notice-title{
		padding-left:30px;
	}
}

@media(min-width: 767px ) {
	.notice-actions{
		float:right;
	}
}

@media(max-width: 767px ) {
	.notice-actions{
		padding-left:10px;
		margin-top:10px;
	}
}


